@font-face {
  font-family: 'Oxygen';
  src: url('./Oxygen-Regular.ttf') format('truetype');
}

body {
    font-family: Oxygen, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0px;
    background-color: #fefefe;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: #269abc;
}

.inline {
    display: inline;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* NAV BAR */
.navbar {
    left: 0px;
    right: 0px;
    width: auto;
    margin-top: 0px;
    display: block;
    color: #fff;
    text-align: center;
    background-color: #555;
    display: block;
    min-height: 50px;
    padding-bottom: 1px;
}

.brand {
    float: left;
    display: inline;
    margin-left: 3px;
    font-size: 15px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
}

.nav > ul {
    list-style: none;
    padding-left: 0px;
    font-size: 14px;
}

.nav li {
    margin-left: 18px;
}

.nav li a {
    padding-bottom: 5px;
}

.nav li a:hover {
    border-bottom: 2px solid #aaa;
}

.nav li a:active {
    /*border-bottom: 2px solid #fff;*/
}

/* CONTENT */

ul {
    padding-left: 20px;
}

.content {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: auto;
}

pre {
    background-color: #eee;
    border: 1px solid #aaa;
    padding: 10px;
    border-radius: 3px;
}

code {
    background-color: #eee;
    font-family: Consolas, "Courier New", monospace;
    font-size: 13px;
    padding: 0px 5px;
    color: #555;
    border-radius: 3px;
}

pre code {
    padding: 0px;
    color: #000;
    font-size: 13px;
}

h1, h2, h3, h4 {
    color: #286090;
}

h1 {
    padding-top: 20px;
}

h2, h3 {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}

table {
    margin-top: 10px;
}

td.cmd-arg {
    width: 70px;
}

td {
    padding: 5px 15px 5px 0;
    vertical-align: top;
}

.logo {
    border-radius: 100%;
    border: 12px solid #fff;
    margin: 0 auto 30px;
    width: 144px;
    height: 144px;
    font-size: 88px;
    line-height: 127px;
    font-family: Oxygen;
    display: block;
    font-weight: bold;
    color: #fff;
    text-align: center;
    cursor: default;
    background-color: #204d74;
}

.rule {
    width: 100%;
    margin: 70px auto;
}

.full-rule {
    width: 100%;
    margin: 40px auto;
    border-top: 1px solid #ddd;
}


.lead {
    max-width: 70%;
    margin-right: auto;
    margin-left: auto;
    font-weight: normal;
}

.master {
    left: 0px;
    right: 0px;
    width: auto;
    padding-top: 60px;
    background-color: #286090;
    text-align: center;
    height: 550px;
    color: #fff;
}

.master .lead {
    font-size: 30px;
}

.feature {
    left: 0px;
    right: 0px;
    margin: auto;
    text-align: center;
    display: block;
    padding-bottom: 10px;
    height: auto;
}

.feature .title {
    font-size: 40px;
    font-weight: bold;
    border: none;
    margin: 0px;
    padding: 100px 0 0 0;
    line-height: 1;
}

.feature .lead {
    font-size: 22px;
}

.grid {
    margin-left: -50px;
    margin-right: -50px;
    width: auto;
    display: table;
}

.grid .col{
    width: 290px;
    min-width: 90px;
    position: relative;
    display: inline;
    float: left;
    padding: 0 5px;
}

.grid .col h3 {
    font-size: 23px;
    border: 0px;
    padding: 0px;
}

.grid .col p {
    font-size: 18px;
}

/* BUTTON */
a.button {
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: normal;
    background-color: transparent;
}

a.button:hover {
    color: #204d74;
    background-color: #fff;
}

a.button-inverse {
    color: #204d74;
    border: 1px solid #204d74;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 8px;
    font-weight: normal;
    background-color: transparent;
}

a.button-inverse:hover {
    color: #fff;
    background-color: #204d74;
}


a.button-inline {
    color: #fff;
    border: 0px;
    padding: 0px 7px;
    background-color: #d9534f;
    border-radius: 3px;
    font-weight: normal;
}

a.button-inline:hover {
    background-color: #c9302c;
}

/* FOOTER */
.footer {
    padding: 10px 0px;
    background-color: #eee;
    font-size: 11px;
}

.footer-links > ul {
    list-style: none;
    padding-left: 0px;
}

.footer-links > ul > li {
    display: inline;
    line-height: 1;
}

/**TABLE CONTENT*/

.toclink {
    display: block;
    padding: 1px;
    border-radius: 3px;
    border-bottom: 1px dashed #eee;
}

a.toclink:hover {
    background-color: #eee;
}

.toclink-1 {
    padding-left: 0px;
}

.toclink-2 {
    padding-left: 10px;
}

.toclink-3 {
    padding-left: 20px;
}

#top {
    position: absolute;
    width: 0px;
    height: 0px;
    top: 0px;
    left: 0px;
}
.goto-top {
    position: fixed;
    display: block;
    right: 10px;
    bottom: 10px;
    width: 35px;
    height: 35px;
    font-size: 40px;
    font-weight: bold;
}

.goto-top a:hover {
    color: #204d74;
}

/* PLAYGROUND */
.pg-content {
    padding: 0px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.pg-editor {
    padding: 0px;
    padding-top: 10px;
    display: block;
    height: 400px;
    margin: 0px;
}

.pg-source, .pg-output {
    display: inline;
    border: 0;
    float: left;
    left: 0px;
    right: 0px;
    width: 47%;
    height: 100%;
    overflow-y: auto;
    padding: 15px 8px 8px 15px;
    background-color: #eee;
    color: #333;
    outline: none;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 13px;
    white-space: pre;
    word-wrap: normal;
    overflow-x: auto;
}

.pg-source {
    resize: none;
    border-left: 3px solid #aaa;
}

.pg-output {
    resize: none;
    border-left: 3px dotted #aaa;
    border-right: 3px solid #aaa;
}

.pg-toolbar {
    /*float: right;*/
    margin-left: 10px;
    border-left: 1px dashed #ccc;
    padding: 7px 7px 7px 10px;
    display: inline;
}

.pg-btn-run, .pg-btn-link {
    color: #fff;
    padding: 5px 16px;
    background-color: #449d44;
    border-radius: 3px;
}

a.pg-btn-run {
    background-color: #5cb85c;
}

a.pg-btn-run:hover {
    background-color: #449d44;
}

a.pg-btn-link {
    background-color: #5bc0de;
}

a.pg-btn-link:hover {
    background-color: #31b0d5;
}


/* RESPONSIVE */

@media (max-width: 800px) {
    h1, h2, h3, h4 {
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 900px) {

    .master: {
        right: -10px;
        left: -10px;
    }
    
    .brand {
        float: none;
    }
    
    .navbar .right {
        float: none;
    }
    
    .grid {
        margin: auto;
    }
    
    .grid .col {
        margin: auto;
        display: block;
        float: none;
        width: auto;
        max-width: 500px;
    }
    
    .rule {
        margin: 20px auto;
    }
    
    .goto-top {
        display: none;
    }

    .pg-source, .pg-output {
        border-left: 3px solid #aaa;
        border-right: 3px solid #aaa;
        display: block;
        width: 93%;
    }
    
    .pg-source {
        border-bottom: 3px dotted #aaa;
    }
}